{% extends "base.html" %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='index.css') }}">
{% endblock %}

{% block content %}
<content>
    <div id="main-container">
        <h1>Music Player</h1>
        <h3>Currently Playing: {{ currentSong.name }}</h3>
        <div id="buttons">
            <a></a>
            <a href="/pause">
            {% if isPlaying == 1 %}
                <img src="{{ url_for('static', filename='pause.svg') }}">
            {% elif isPlaying == 0 %}
            <img src="{{ url_for('static', filename='play.svg') }}">
            {% endif %}
            <a></a>
        </div>
    </div>
</content>
{% endblock %}
