{% extends "base.html" %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='song_list.css') }}">
{% endblock %}

{% block content %}
<content>
    <ul id="song-list">
        {% for song in songs %}
        {% if song.name != currentSong.name %}
            <a href="/play?id={{ loop.index0 }}"><li><div class="element-content">{{ song.name }}<img src="{{ url_for('static', filename='play.svg') }}"></div></li></a>
        {% else %}
            <a href="/play?id={{ loop.index0 }}"><li><div class="current-element-content">{{ song.name }} - Currently Playing</div></li></a>
        {% endif %}
        {% endfor %}
    </ul>
</content>
{% endblock %}